/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */
/* This file will hold styles that are loaded using the same media query as the narrow grid. */

/***********************************
        Regions
************************************/
#region-menu {
    position: relative;
}

#zone-menu ul.nice-menu li {
    float: none;
}


/***********************************
      Default-specific BLOCKS
************************************/

/***********************************
        UA LOGO COLORS
************************************/