/* This file will hold styles that are loaded using the same media query as the wide grid. */

/***********************************
        UA LOGO COLORS
************************************/


/***********************************
      Wide-specific
************************************/
#region-content {
  min-height: 700px;
}


/***********************************
      Wide-specific BLOCKS
************************************/
#zone-menu ul.nice-menu li,
#zone-menu ul.main-menu li {
    float: left;
}


/***********************************
      Wide-specific REGIONS
************************************/

.grid-12.alpha.omega {
	width: 1200px;
}

