/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

/***********************************
        UA LOGO COLORS
************************************/

/***********************************
      Normal-specific
************************************/
#region-content {
  min-height: 600px;
}


/***********************************
      Normal-specific BLOCKS
************************************/
#zone-menu ul.nice-menu li,
#zone-menu ul.main-menu li {
    float: left;
}


/***********************************
      Normal-specific REGIONS
************************************/



/***********************************
      Normal-specific CLASSES
************************************/
