@charset "utf-8";
/** Default Styles for Lambda Drupal blocks **/
h2.block-title {
	color: #002147;
	font-size: 1em; /*16px*/
	text-transform: uppercase;
	margin: 0 0 .5em;
}

.region-sidebar-first .block,
.region-sidebar-second .block {
  background: none 0 0 scroll no-repeat #efebdb;
}

.region-sidebar-first .block .content,
.region-sidebar-second .block .content { /**overridden for block-menus**/
  padding: 0.5em;
}


/*Block menus*/
.block-menu h2.block-title,
.block-menu-block h2.block-title {
	color: #ffffff;
	font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	line-height: 1em;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0.384615em /*5px*/ 0.769231em/*10px*/;
	margin: 0;
	background: #c5c1a2; /* Old browsers */
	background: -moz-linear-gradient(top, #9d9a7f 0%, #c5c1a2 100%) scroll; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9d9a7f), color-stop(100%, #c5c1a2)) scroll; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #9d9a7f 0%, #c5c1a2 100%) scroll;/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #9d9a7f 0%, #c5c1a2 100%) scroll; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #9d9a7f 0%, #c5c1a2 100%) scroll; /* IE10+ */
	background: linear-gradient(top, #9d9a7f 0%, #c5c1a2 100%) scroll; /* W3C */
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d9a7f', endColorstr='#c5c1a2', GradientType=0 ); /* IE6-8 */ /*MUST ADD CONDITIONAL for IE 9 of 'filter: none;'*/
}

.region-sidebar-first .block-menu .content,
.region-sidebar-second .block-menu-block .content {
  padding: 0;
  margin-bottom: 0.8em;
}

.block-menu ul.menu,
.block-menu-block ul.menu,
.block-menu ul.menu li,
.block-menu-block ul.menu li {
	list-style: none;
	list-style-image: none;
	list-style-type: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;
	line-height: 1em;
}

.block-menu ul.menu li,
.block-menu-block ul.menu li {
	border-bottom: 1px #ffffff solid;
}

.block-menu ul.menu li.last,
.block-menu-block ul.menu li.last {
	border-bottom: 0 none;
}

.block-menu ul.menu li a,
.block-menu-block ul.menu li a {
	display: block;
	padding: 0.384615em /*5px*/ 0.769231em/*10px*/;
}

.block-menu ul.menu li a:focus,
.block-menu-block ul.menu li a:focus,
.block-menu ul.menu li a:hover,
.block-menu-block ul.menu li a:hover,
.block-menu ul.menu li a.active,
.block-menu-block ul.menu li a.active {
	background-color: #f7f6ee;
}
