@charset "utf-8";
/** Default Styles for the Lambda navigation bar **/
#zone-menu {
  font-size: 1em;
  min-width: 360px;
}

#region-menu {
  font-family: Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif;
  background: #e9e7d8; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: -moz-linear-gradient(top, #f8f8f3 0%, #efebdb 100%) scroll; /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f3), color-stop(100%, #e9e7d8)) scroll; /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f8f8f3 0%, #e9e7d8 100%) scroll; /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f8f8f3 0%, #e9e7d8 100%) scroll; /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f8f8f3 0%, #e9e7d8 100%) scroll; /* IE10+ */
  background: linear-gradient(top, #f8f8f3 0%, #e9e7d8 100%) scroll; /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f3', endColorstr='#e9e7d8', GradientType=0 ); /* IE6-8 */ /*MUST ADD CONDITIONAL for IE 9 of 'filter: none;'*/
}

#region-menu {
  border-bottom: 1px solid #cacaca;
}

#region-menu #main-menu li a,
#region-menu #main-menu li a:link,
#region-menu #main-menu li a:visited,
#region-menu #main-menu li span.nolink,
#region-menu #main-menu li a:active {
  border-right: 2px solid #DAD6C3;
  color: rgb(118, 79, 29);
  font-weight: bold;
  text-shadow: 1px 1px 3px #ffffff;
  padding: 0.923077em /*12px*/ 1.230769em /*16px*/;
}

#region-menu #main-menu li.active-trail {
  border-right: 0 none;
  color: rgb(256, 256, 256);
  font-weight: bold;
  text-shadow: 1px 1px 3px rgb(95, 93, 78);
}

#region-menu #main-menu li a:hover,
#region-menu #main-menu li a:focus {
  background: none repeat 0 0 scroll #d6d3bb;
  text-decoration: none;
}

#region-menu #main-menu li a:active,
#region-menu #main-menu li.active-trail a,
#region-menu #main-menu li.active a {
  color: rgb(256, 256, 256);
  text-shadow: 1px 1px 3px rgb(95, 93, 78);
  background: #c5c1a2; /* Old browsers */
  background: -moz-linear-gradient(top, #9d9a7f 0%, #c5c1a2 100%) scroll; /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9d9a7f), color-stop(100%, #c5c1a2)) scroll; /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #9d9a7f 0%, #c5c1a2 100%) scroll;/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #9d9a7f 0%, #c5c1a2 100%) scroll; /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #9d9a7f 0%, #c5c1a2 100%) scroll; /* IE10+ */
  background: linear-gradient(top, #9d9a7f 0%, #c5c1a2 100%) scroll; /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d9a7f', endColorstr='#c5c1a2', GradientType=0 ); /* IE6-8 */ /*MUST ADD CONDITIONAL for IE 9 of 'filter: none;'*/
}

#region-menu #main-menu,
#region-menu #main-menu ul,
#region-menu #main-menu li,
#region-menu #main-menu a,
#region-menu #main-menu span.nolink {
  color: rgb(0, 57, 118);
}

/* 
** ONLY UNCOMMENT IF YOU HAVE A JUMP MENU TO TAKE OVER THE NAV MENU'S PLACE
**
** 740px/16px = 46.25em
**
@media screen and (min-width: 46.25em) { 
  #block-jump-menu-jump-menu-m-main-menu {
    display: none;
  }
}

@media screen and (max-width: 46.25em) {
  #block-jump-menu-jump-menu-m-main-menu {
    display: block;
    float: left;
    padding: 7px 0 7px 7px;
  }
  ul#main-menu {
    display: none;
  }
}*/