@charset "utf-8";
/* Default Styles for Lambda Typography */
a,
a:link,
a:visited {
	color: #003976;
	text-decoration: none;
}

a:hover,
a:active,
a:focus {
	color: #003976;
	text-decoration: underline;
}

p {
  font-size: 0.923077em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Georgia", serif;
	margin-bottom: 0.3em;
}

h1 {
	line-height: 1.232143em;
	font-weight: normal; 
	color: #6E2E14
}

h2 { 
	line-height: 1.270833em;
	font-weight: normal;
	color: #6E2E14;
}

h3 { 
	line-height: 1.325em;
	font-weight: normal;
	color: #003976; 
}
h4 { 
	line-height: 1.40625em;
	color: #003976;
}
h5 { 
	line-height: 1.464286em;
	color: #003976;
}
h6 { 
	line-height: 1.590909em;
	color: #363636; /*older browser support*/ 
	color: rgba(54, 54, 54, .5);
}

hr {
	height: 1px;
	width: 100%;
	background-color: gray;
	margin: 6px 0px;
	clear: both;
}

address {
	display: block;
	margin-bottom: 1.384615em /*18px*/;
	line-height: 1.384615em /*18px*/;
	font-style: normal;
}

name { font-style: italic; }

ul,
ol {
	padding: 0 0 0 1em;
	margin: 0 0 1em 1em;
}

ul ul { list-style-type: circle; }

dl > dt {
	font-size: 1em;
	font-weight: bold;
	color: #000000;
}

dl > dd {
	margin-left: 0.769231em /*10px*/;
	padding-bottom: 0.384615em /*5px*/;
}

blockquote p {
	padding: 0 1.153846em;
	margin: 0 0 1.384615em;
	border-left: 5px solid #eee;
	border-right: 5px solid #eee;
}

blockquote p.quote-left {
	padding: 0 0 0 1.153846em;
	margin: 0 0 1.384615em;
	border-right: 0 none;
	border-left: 5px solid #eee;
	text-align: left;
}

blockquote p.quote-right {
	padding: 0 1.153846em 0 0;
	margin: 0 0 1.384615em;
	border-left: 0 none;
	border-right: 5px solid #eee;
	text-align: right;
}

#zone-footer {
	color: #A9A9A9;
	font-size: 0.846154em; /*11px*/
}

#footer a { color: #7d5630; }