/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */

/***********************************
        UA LOGO COLORS
************************************/


/***********************************
      Narrow-specific
************************************/
#region-content {
  min-height: 600px;
}

/***********************************
      Narrow-specific BLOCKS
************************************/
#block-search-form { /* clears navigation on hand-held devices */ 
    clear: none;
}

/***********************************
      Narrow-specific REGIONS
************************************/


/***********************************
      Narrow-specific CLASSES
************************************/
